.section-container {
  margin: 120px 0 120px 0;
  h2 {
    font-size: 30px;
    letter-spacing: 0.05em;
  }
}

.section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  &__title {
    text-transform: uppercase;
    display: flex;
    &--common {
      font-family: @main-text;
      color: @second-text-color;
    }
    img {
      margin: auto;
      padding-right: 20px;
    }
  }
}

.catalog__layout {
  display: flex;
  flex-direction: column;
}


.arenda__content {
  display: flex;
  flex-direction: row;
}

.arenda__layout {
  display: flex;
  flex-direction: column;
}
.arenda__text{
  font-size: 18px;
  font-family: @second-text;
  line-height: 25px;
  padding: 100px 80px 100px 0;
  color: @second-text-color;
}


.news__layout {
  display: flex;
  flex-direction: column;
}

.news__content {
  display: flex;
}

.news-main {
  display: flex;
  &__img-wrap {
    padding-top: 30px;
  }
  &__img {
    width: 255px;

    @media (max-width: 1024px) {
      width: 220px;
    }
  }
  &__text-wrap {
    display: flex;
    flex-direction: column;
    padding: 0 30px;
  }
  a {
    font-size: 14px;
    font-family: @second-text;
    color: @second-text-color;
  }
}

.news__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  font-size: 18px;
  color: @second-text-color;
  font-family: @main-text;

  @media (max-width: 1024px) {
    font-size: 14px;
  }
}

.news__text {
  font-size: 14px;
  font-family: @second-text;
  color: @second-text-color;
  margin: auto;

  @media (max-width: 1024px) {
    font-size: 12px;
  }
}

.news-second {
  display: flex;
  &__item {
    display: flex;
    flex-direction: column;
    padding: 0 30px;
  }
  &__img {
    width: 128px;
    
    @media (max-width: 1024px) {
      width: 120px;
    }
  }
  &__footer {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }
  &__date {
    font-size: 14px;
    font-family: @second-text;
    color: @second-text-color;
  }
  time {
    padding-left: 12px;
  }
}

.text {
  &__wrap1 {
    margin: 10px 0 20px 0;
    height: calc(100% - 10px);
    position: relative;
  }
  &__wrap2 {
    margin: 35px 0 10px 0;
    height: calc(100% - 10px);
    position: relative;
  }
}
