.tab {
  width: 100%;
  animation: fadeEffect 0.5s;
  &__navigation {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 0 50px 0;
  }
  &__item {
    display: flex;
    margin: 10px;
    position: relative;
    width: 100%;
    @media (max-width: 415px) {
      width: 70%;
      height: 70%;
    }
  }
  &__img {
    position: relative;
    width: 100%;
    height: 100% ;

  }
  &__desc {
    background: @primary-blue;
    position: absolute;
    padding: 20px;
    width: calc(100% - 25%);
    height: calc(100% - 70%);
    left: 25%;
    bottom: 5%;

    @media (max-width: 995px) {
      padding: 10px;
    }

    @media (max-width: 768px) {
      padding: 10px 0 10px 10px;
    }
    @media (max-width: 360px) {
      padding: 10px;
    }
    
  }
  &__desc-title {
    color: @white-text;
    font-family: @main-text;
    text-transform: uppercase;
    // letter-spacing: 0.05em;
    font-size: 18px;
    margin: 0;
    position: relative;

    @media (max-width: 1047px) {
      font-size: 16px;
    }

    @media (max-width: 995px) {
      font-size: 14px;
    }
    @media (max-width: 768px) {
      font-size: 12px;
    }
    @media (max-width: 415px) {
      font-size: 10px;
    }
    @media (max-width: 360px) {
      font-size: 9px;
    }
  }
  &__btn {
    background: none;
    font-family: @main-text;
    font-size: 24px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: @second-text-color;
    border: none;
    margin: 0 23px 0 23px;
    outline: none;
    &--active {
      background-color: white;
      color: @primary-blue;
      box-shadow: 0 8px 1px -5px @primary-blue;
      @media (max-width: 360px) {
        box-shadow: 0 7px 0px -6px @primary-blue;
      }
    }
    &:hover {
      opacity: 0.6;
    }
    @media (max-width: 415px) {
      font-size: 16px;
    }
    @media (max-width: 360px) {
      font-size: 12px;
    }
  } 
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

[data-tab-content] {
  display: none;
}

.active[data-tab-content] {
  display: flex;
  @media (max-width: 415px) {
    flex-direction: column;
    align-items: center;
  }
}