
.logo {
  flex: 2;
  margin: 0 0 0 40px;
}
.logo__image {
  padding-right: 15px;
  vertical-align: middle;
  width: 140px;
  height: 58px;
}

.header {
  margin: auto;
  position: relative;
  width: 100%;
  height: 800px;
}
.header__banner {
  margin: auto;
  position: absolute;
  width: 100%;
  height: 800px;
  z-index: -1;
}
.header__content {
  background: rgba(0, 91, 193, 0.6);
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo {
  flex: 2;
  margin: 0 0 0 40px;
}
.logo__image {
  padding-right: 15px;
  vertical-align: middle;
  width: 140px;
  height: 58px;
}
.nav {
  flex: 3 100px;
  margin: 0 40px 0 0;
}
.nav__menu {
  list-style: none;
  display: flex;
}
.nav__menu__item {
  padding-left: 15px;
  padding-right: 30px;
  align-items: center;
}
.nav__menu__item a {
  color: #FFFF;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  text-decoration: none;
}
.nav__menu__item a:hover {
  opacity: 0.7;
}
@media screen and (max-device-width: 1100px) {
  .news-item {
    margin: 0;
  }
}
body {
  margin: 0;
  font-family: 'Oswald', sans-serif;
}
body .main-button {
  color: #FFFF;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  font-size: 22px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border: 2px solid #FFFFFF;
  padding: 15px 41px;
  margin: 40px 0 0 0;
}
body .main-button:hover {
  opacity: 0.7;
}
body .container {
  width: 100%;
  max-width: 1110px;
  margin: 0 auto;
}
body .blue-block {
  background: rgba(0, 91, 193, 0.6);
  position: absolute;
  width: 500px;
  height: 720px;
  top: 80px;
}
body .showcase {
  text-align: left;
  color: #FFFF;
  position: relative;
  z-index: 1;
}
body .showcase h2 {
  line-height: 71px;
  font-size: 48px;
  text-align: left;
  width: 70%;
  margin: 200px 100px 50px 200px;
  z-index: 1;
}
body .showcase p {
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  width: 60%;
  margin: 0 190px 20px 200px;
  z-index: 1;
}
body .showcase a {
  margin: 20px 190px 0 200px;
  z-index: 1;
}
body h2.main-header {
  text-transform: uppercase;
  display: inline;
  margin-left: 40px;
}
body section {
  margin: 50px 0 50px 0;
}
body section h2 {
  font-size: 30px;
  letter-spacing: 0.05em;
}
body .project {
  display: block;
  justify-items: center;
  flex-wrap: nowrap;
  align-items: center;
}
body .project .project-content {
  display: flex;
  flex-direction: column;
}
body .project-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 100px 0 30px 0;
  justify-content: space-between;
}
body .project-header .project-title {
  margin-right: 160px;
}
body .project-slider-navigation {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 100px;
}
body .project-slider {
  height: auto;
  overflow: hidden;
}
body .project-slides {
  width: 500%;
  height: 100%;
  display: flex;
}
body .project-slides input[name="r"] {
  position: absolute;
  visibility: hidden;
}
body .project-slides #r1:checked ~ .s1 {
  margin-left: 0;
}
body .project-slides #r2:checked ~ .s1 {
  margin-left: -20%;
}
body .project-slide {
  width: 20%;
  transition: 0.6s;
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow-x: hidden;
}
body .project-slide img {
  width: 540px;
  height: 400px;
}
body .project-slide-content {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  background-size: 540px 400px;
  width: 540px;
  height: 400px;
  margin: 0 15px;
}
body .slide1 {
  background-image: url("../img/slide1.png");
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  background-size: 540px 400px;
  width: 540px;
  height: 400px;
  margin: 0 15px;
}
body .slide2 {
  background: url("../img/slide2.png") no-repeat;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  background-size: 540px 400px;
  width: 540px;
  height: 400px;
  margin: 0 15px;
}
body .slide-text {
  width: 250px;
  height: 110px;
  background-color: white;
  margin: 0 35px 35px 0;
}
body .slide-text h2 {
  font-size: 18px;
  margin: 20px 0 0 25px;
}
body .slide-text p {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 19px;
  margin: 10px 25px;
}
body .slider-bar {
  display: block;
  width: 55px;
  height: 55px;
  text-align: center;
  font-size: 28px;
  color: #005BC1;
  border: 2px solid #005BC1;
  margin: 6px;
  cursor: pointer;
  transition: 0.4s;
  box-sizing: border-box;
}
body .slider-bar:hover {
  background: #FFFFFF;
}
body .catalog2-content {
  display: flex;
  flex-direction: column;
}
body .catalog2-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: flex-start;
  margin: 100px 0 30px 0;
  right: 300px;
}
body .catalog2-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}
body .catalog2-slider {
  height: auto;
  overflow: hidden;
}
body .catalog2-slides {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  width: 500%;
  height: 100%;
}
body .catalog2-slides input[name="catalog"] {
  position: absolute;
  visibility: hidden;
}
body .catalog2-slides #c1:checked ~ .cat1 {
  margin-left: 0;
}
body .catalog2-slides #c2:checked ~ .cat1 {
  margin-left: -20%;
}
body .catalog2-slide {
  width: 20%;
  transition: 0.6s;
  display: flex;
  flex-direction: row;
  justify-items: center;
  overflow-x: hidden;
}
body .catalog-slide-content {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  background-size: 330px 280px;
  width: 330px;
  height: 280px;
  margin: 0 15px;
}
body .catalog-slide1 {
  background-image: url("../img/slide_catalog1.png");
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  background-size: 330px 280px;
  width: 330px;
  height: 280px;
  margin: 0 15px;
}
body .catalog-slide2 {
  background-image: url("../img/slide_catalog2.png");
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  background-size: 330px 280px;
  width: 330px;
  height: 280px;
  margin: 0 15px;
}
body .catalog-slide3 {
  background-image: url("../img/slide_catalog3.png");
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  background-size: 330px 280px;
  width: 330px;
  height: 280px;
  margin: 0 15px;
}
body .catalog-slide-text {
  color: white;
  width: 265px;
  height: 86px;
  background-color: #005BC1;
  margin-bottom: 15px;
}
body .catalog-slide-text h2 {
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  margin: 15px 36px 15px 21px;
}
body .catalog2-slider-navigation {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 0 50px 0;
}
body .catalog2-slider-bar {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  width: 50px;
  height: 10px;
  margin: 6px;
  cursor: pointer;
  transition: 0.4s;
}
body .catalog2-slider-bar:hover {
  background: #FFFFFF;
}
body .btn_pushed {
  background: blue;
}
body .arenda-content {
  display: flex;
  flex-direction: column;
}
body .arenda-main-block {
  display: flex;
  flex-direction: row;
}
body .arenda-main-block p {
  font-family: Open Sans, serif;
  font-size: 18px;
  margin: 110px 95px 0 0;
}
body .arenda-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: flex-start;
  margin: 100px 0 30px 0;
  right: 300px;
}
body .arenda-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}
body .arenda-l-block {
  display: flex;
  flex-direction: column;
  border: 3px solid #005BC1;
}
body .arenda-l-block-header {
  display: flex;
  flex-direction: row;
  margin: 30px 0 0 20px;
}
body .arenda-l-block-header .arenda-l-block-title {
  margin-right: 20px;
}
body .arenda-l-block-header h3 {
  font-size: 18px;
  text-transform: uppercase;
  margin: 0;
}
body .arenda-l-block-header .arenda-slider-navigation {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 15px 0 15px;
}
body .arenda-l-block-header .arenda-slider-navigation label {
  margin: 0;
}
body .arenda-slider {
  width: 550px;
  height: auto;
  overflow: hidden;
}
body .arenda-slides {
  width: 500%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
body .arenda-slides input[name="arenda"] {
  position: absolute;
  visibility: hidden;
}
body .arenda-slides #a1:checked ~ .s1 {
  margin-left: 0;
}
body .arenda-slides #a2:checked ~ .s1 {
  margin-left: -20%;
}
body .arenda-slide {
  width: 20%;
  transition: 0.6s;
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
}
body .arenda-slide-content {
  display: flex;
  flex-direction: row;
}
body .arenda-slide-content img {
  width: 255px;
  height: 250px;
}
body .arenda-slide-content h4 {
  color: #343434;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
}
body .arenda-slide-content li {
  color: #343434;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}
body .news {
  display: block;
  justify-items: center;
  flex-wrap: nowrap;
  align-items: center;
  margin: 0 0 100px 0;
}
body .news .news-content {
  display: flex;
  flex-direction: column;
}
body .news h3 {
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
}
body .news p {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}
body .news time {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}
body .news-btn {
  width: 190px;
  height: 51px;
  color: #FFFF;
  background: #005BC1;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
}
body .news-btn:hover {
  opacity: 0.6;
}
body .news-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 100px 0 30px 0;
  justify-content: space-between;
}
body .news-header .news-title {
  margin-right: 160px;
}
body .news-items {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
body .news-main-item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 80%;
  margin: 0 40px 0 0;
}
body .news-main-item img {
  width: 255px;
  height: 240px;
  padding: 20px;
}
body .news-main-text {
  display: flex;
  flex-direction: column;
  margin: 5px;
}
body .news-main-text p {
  overflow: hidden;
  text-overflow: ellipsis;
}
body .news-main-text-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
body .news-item {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}
body .news-item img {
  width: 128px;
  height: 115px;
}
body .item1 p {
  margin: 0 0 27px 0;
}
body .item2 h3 {
  padding-bottom: 10px;
}
body .item2 p {
  margin-top: 10px;
}
body .news-item-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
body .news-item-footer img {
  margin: 5px;
}
body .news-item-footer time {
  margin: 5px;
}
body .wrapper {
  display: flex;
  flex-direction: row;
  width: 45%;
}
body footer {
  background: #005BC1;
  height: 255px;
}
body .footer-address-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
body .footer-address-block p {
  color: #FFFF;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  line-height: 19px;
}
body .footer-address-block p:nth-child(1) {
  font-size: 18px;
}
body .footer-menu {
  display: flex;
  flex-direction: row;
}
body .footer-menu a {
  color: #FFFF;
  text-decoration: none;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  line-height: 19px;
  cursor: pointer;
}
body .footer-menu a:hover {
  opacity: 0.6;
}
body .footer-menu-item {
  display: flex;
  flex-direction: column;
  margin: 0 110px 0 0;
}
body .footer-menu-item a {
  margin: 5px 0 5px 0;
}
body .footer-about {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
body .footer-about p {
  font-size: 14px;
  color: #FFFF;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}
